/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    clear: both;
}


/*!
layout
*/

.wrapper {
    width: 1024px;
    margin: 0 auto;
    font-family: 微軟正黑體;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*!
topheader strat
*/

.topheader {
    background-color: #f6f6f6;
    padding: 5px;
    height: 30px;
    line-height: 30px;
}

.topheader ul {
    float: right;
    margin-right: 20px;
}

.topheader ul li {
    float: left;
}

.topheader li a {
    text-decoration: none;
    font-size: 16px;
}

.topheader_facebook {
    border-right: 1px solid #cccccc;
    padding-right: 8px;
    margin-right: 8px;
}

.topheader_facebook a {
    color: #4460a0;
    font-weight: bold;
}

.topheader_twitter a {
    color: #00aaec;
    font-weight: bold;
}


/*!
header end
*/


/*!
nav start
*/

.nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
}

.nav h1 {
    float: left;
    margin: 5px 10px;
}

.nav h1 a {
    display: block;
    background: url(../image/logo.png) no-repeat;
    width: 170px;
    height: 36px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.nav ul {
    float: right;
}

.nav ul li {
    float: left;
    padding: 20px 30px;
}

.nav ul li a {
    text-decoration: none;
    color: #00cc99;
    font-weight: bold;
    line-height: 15px;
    display: block;
    height: 30px;
}

.nav li a:hover {
    border-bottom: 2px solid #00cc99;
}


/*!
nav end
*/

.banner {
    position: relative;
}

.banner img {
    width: 1024px;
    height: 418px;
    margin-top: -20px;
}

.banner:before {
    width: 1024px;
    height: 140px;
    position: absolute;
    background: #d9d9d9;
    opacity: 0.3;
    top: 150px;
    content: "";
}

.banner_text {
    position: absolute;
    color: #fff;
    top: 180px;
}

.banner_text p {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}